{% extends 'base.html' %}
{% block content %}
<h2>Clientes da Assinatura: {{ assinatura.nome }}</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th><a href="?sort=nome" class="link-dark text-decoration-none">Nome{% if sort == 'nome' %} &#8595;{% endif
                    %}</a>
            </th>
            <th><a href="?sort=cpf" class="link-dark text-decoration-none">CPF{% if sort == 'cpf' %} &#8595;{% endif
                    %}</a>
            </th>
            <th><a href="?sort=email" class="link-dark text-decoration-none">Email{% if sort == 'email' %} &#8595;{%
                    endif %}</a></th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.cpf }}</td>
            <td>{{ cliente.email }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum cliente encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/assinaturas/" class="btn btn-secondary">Voltar</a>
{% endblock %}